$white: #FFFFFF;
$lightBG: #FAFAF9;
$lightGrey: #EEEEEE;
$smoke: #e0e6ed;
$blue: #3454D1;
$purple: #731DD8;
$grey: #394053;
$black: #141115;
$green: #50FFB1;
$info: #1FB6FF;
$success: #50FFB1;
$danger: #EB1244;
$warning: #FFC82C;

$basefontsize: 16px;
$h1: 50px;
$h2: 37px;
$h3: 28px;
$h4: 21px;
$blockquote: 20px;
$button: 15px;
$label: 15px;
$tags: 12px;

$font-family: 'Nunito', sans-serif;
$code-family: 'Roboto Mono', monospace;